<html>
    <head>
        <title>Temperatures</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for("static", filename="script.js") }}"></script>
    </head>
    <body>
        <h1>Temperature Service</h1>
        <h2 id="city"></h1>
        <div id="currentTemp"></div>
        <pre id="selfWeatherHistory"></pre>
        <hr />
        <h2>other nodes</h2>
        <pre id="othersWeatherHistory"></pre>
    </body>
</html>
